/* 
    Document   : main
    Created on : 19-Feb-2013, 10:18:01 PM
    Author     : baris
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body{
    width: 90%;
    margin:20px auto;
    background-color: rgb(249, 250, 247);
    
 
}


div.container{
     border:1px solid #ccc;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;     
     border-radius: 2px;
     padding: 10px;
    -moz-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -wbkik-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    background-color: white;
    min-height: 650px;
}

