/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    
    
 background-color: rgb(249, 250, 247);
 max-width: 100%;
 overflow-x: hidden;
}


div#header{
    max-width: 100%;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;

  
    
    
    
}

div#header img{
   width: 1400px;
   height:320px;
  
     border-bottom:  1px solid rgba(0, 0, 0, 0.9);

    
}

div#header h1{
    position: absolute;
    bottom: 20px;
    left: 60px;
    font-size: 40px;
    text-transform: capitalize;
   color:white;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
   text-shadow: 2px 2px 2px black;
   /*background-color: rgba(14, 98, 140, 0.35);*/
   padding: 10px;
   
}

div#header ul.userinfo{
    overflow: hidden;
    position: absolute;
    right:70px;
    top: 20px;
  
}

div#header ul.userinfo li{
    float: left;
}

div#header ul.userinfo li a{
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px black;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 24px;
    font-size: 24px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

div#header ul.userinfo li a:hover{
    color: rgb(116, 193, 237);
    text-shadow: none;
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
    cursor: pointer;
}



div#header img#userimage{
    width: 225px;
    height:225px;
    position: absolute;
    top:30px;
    left:60px;
    /*padding:5px;*/
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);    
    background-color: white;
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
    border-radius: 130px;
  
}

  /*----------- main container --------------------*/ 
div.container{
     width: 90%;
    margin:20px auto;
    
/*     border:1px solid #ccc;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;     
     border-radius: 2px;
     padding: 10px;
    -moz-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -wbkik-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.25);
    background-color: white;*/
    min-height: 650px;
    padding:2px;
}




/*-------- form area for login and register ----------*/

div.form{
    overflow: hidden;
    
}

div#userinfoedit,div#useralbumedit{
    overflow: hidden;
    
    padding-bottom: 5px;
}

div#usereditmenu,div#useredit{
    float:left;
/*   border: 1px solid rgb(156, 172, 188);
   border:1px solid #111;*/
background: white;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
box-shadow:0 1px 3px rgba(0, 0, 0, 0.65);;
}
div#useralbum{
    float:left;
}
div#albumform{
 background: white;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
box-shadow:0 1px 3px rgba(0, 0, 0, 0.65);;
}

div#usereditmenu{
    width: 243px;
    margin-right: 10px;
}

div#usereditmenu ul li{
border-bottom: 1px solid rgb(229, 229, 229);
padding: 10px 20px;
position: relative;
font-size: 17px;
}

div#usereditmenu ul li a{
color: rgb(31, 141, 214);
outline: 0;
text-decoration: none;
text-transform: capitalize;
}

div#usereditmenu ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

div#useredit,div#useralbumedit{
    width: 911px;
    padding-top: 6px;
}
div#useralbumedit{
    padding-top: 0;
}

div#useredit ul li{
    padding:5px;
}

div#useredit form#usereditform,div#useredit form#userphotoform{
    padding:10px;
}
div#useralbumpic{
    margin:10px auto;
    overflow: hidden;
  
    
    
}

div#useralbumpic div{
    float:left;
    padding:4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);;
box-shadow:0 1px 3px rgba(0, 0, 0, 0.65);;
background: white;
margin-right:8px;
margin-bottom: 9px;
}

div#useralbumpic div:nth-child(4n+0){
    margin-right: 0;
}

div#useralbumpic div img{
    width: 213px;
}
#photosubmit{
    margin-top: 10px;
}



div#useredit label{
    
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 200px;
    color: rgb(31, 141, 214);
}

div#albumform {
    padding:5px;
}

div#useredit input,div#albumform input{
    
width:510px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 0 black;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 0 black;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 0 black;

}
div#useredit input,div#useredit textarea{
font-size: 13px;
line-height: 18px;
color: rgb(90, 90, 90);
border: 1px solid rgb(204, 204, 204);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
div#useredit input:focus,div#useredit textarea:focus,div#useredit input:hover,div#useredit textarea:hover,div#albumform input:hover.div#albumform input:focus{
    border-color:  rgb(31, 141, 214);
    outline: 0;
}

div#useredit textarea{
    width: 510px;
    height:300px;
    
}
.textarealabel{
    display: block;
}

div.registerarea,div.signup{
    float:left;
    
}

div.registerarea{
    margin-right: 15px;
    width: 60%;
}

div.registerarea p{
    margin-bottom: 10px;
}




 div#useredit input[type=submit] ,div#albumform input[type=submit]{
color: white;
text-shadow: 0 -1px rgb(17, 77, 151);
border: 1px solid rgb(17, 77, 151);
background-color: rgb(31, 141, 214);
background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(116, 193, 237)),color-stop(10%,rgb(31, 141, 214)));
background-image: -moz-linear-gradient(90deg,rgb(31, 141, 214) 90%,rgb(116, 193, 237));
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0 -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0 -1px rgba(0,0,0,0.12);
-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.12);
display: inline-block;
padding: 4px 10px 4px;
font-size: 12px;
font-weight: 400;
line-height: 100%;
width: 318px;
font-size: 20px;
display: block;
padding: 14px 0 12px;
text-decoration: none;
height:50px;
text-transform: capitalize;
}

div#useredit input[type=submit]:hover{
    cursor: pointer;
}

div.registerarea input[type=submit]:hover{
color:#fff;
text-decoration:none;
text-shadow:0 -1px 0 rgba(0,0,0,0.25);
background-color:#3072b3;
background-image:-moz-linear-gradient(#599bcd, #3072b3);
background-image:-webkit-linear-gradient(#599bcd, #3072b3);
background-image:linear-gradient(#599bcd, #3072b3);
background-repeat:repeat-x;
border-color:#2a65a0
}

div.signup a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
div.signup a:hover{
    cursor: pointer;
    text-decoration: underline;
}
span.info{
    color:blue;
    font-style: italic;
    text-transform: capitalize;
    padding-left: 5px;
}



/*photo section*/
div#mainphoto{
    overflow: hidden;
    margin: 10px;
}

div#photosection{
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
float: left;
padding: 5px;
padding-left: 10px;
width: 615px;
margin:3px;

}
div#bigimage{
    max-width: 615px;
}
div.mainimage{
    max-width: 600px;
    padding:4px;
    overflow: hidden;
    border: 1px solid rgb(234, 234, 234);
}

div.mainimage img{
    max-width: 600px;
}

div#otheralbums{
    margin: 3px;
    float:right;
    
width: 525px;
height:300px;

}

div#otheralbums a.useralbum{
    display: block;
    
}

div.ialbums{
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
margin-bottom: 10px;
}

div.ialbums h1{
    text-decoration: none;
text-transform: capitalize;
font-size: 13px;
color: rgb(33, 153, 244);
font-family: 'Open Sans', sans-serif;
margin:3px;
padding-top: 6px;
}
div.albumphotos{
    overflow: hidden;
}

div.albumphotos div{
float:left;
padding: 3px;

border: 1px solid rgb(234, 234, 234);
float: left;
background-color: white;
margin:2px;
width: 75px;
height: 75px;
}
div.albumphotos img{
 width: 75px;
}
div#uinfo{
    overflow: hidden;
    margin-bottom: 7px;
}
div#uinfo img{
    width: 40px;
/*    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    float: left;
    margin-right: 5px;
    padding:2px;
    border: 1px solid rgb(234, 234, 234);
    
    
}

div#uinfo span{
    float: left;
}

div#uinfo span a,span.albumlink a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color:rgb(33, 153, 244);
    font-family: 'Open Sans', sans-serif;
}
span.albumlink{
    display: inline-block;
    margin-bottom: 5px;
}
span.albumlink a{
 text-decoration: none;
text-transform: capitalize;
font-size: 13px;
color: rgb(33, 153, 244);
font-family: 'Open Sans', sans-serif;
    
}

div#uinfo span a:hover,span.albumlink a:hover{
    cursor: pointer;
    text-decoration: underline;
}

div#albumimage{
    overflow:hidden;
    max-width: 615px;
}
div#albumimage img{
    width: 75px;
    float: left;
    margin-right:  1px;
    margin-bottom: 5px;
}

div#albumimage a.albumlink{
    display: inline-block;
    width: 76px;
    height: 76px;
    float:left;
    float:left;
padding: 2px;

border: 1px solid rgb(234, 234, 234);
float: left;
background-color: white;
margin-right: 6px;

}
div#albumimage a.albumlink:last-child{
    margin-right: 0;
}


div#allalbums{
    overflow: hidden;
}

div#allalbums div.ialbumss{
  
    float: left;
    overflow: hidden;
    
    width: 390px;
    margin:5px;
    transition:all 0.2s;
-moz-transition:all 0.2s; /* Firefox 4 */
-webkit-transition:all 0.2s; /* Safari and Chrome */
-o-transition:all 0.2s; /* Opera */

}


div#allalbums div.ialbumss:hover{
    cursor: pointer;
    background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

}

div#allalbums div.ialbumss a{
    display: block;
}

div#allalbums div.albumphotos div{

width: 117px;
height: 117px;
}
div#allalbums div.albumphotos img{
 width: 117px;
}


/*user album photos section*/ 

div#useralbumphotos{
    overflow: hidden;
}
div#useralbumphotos div{
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 225px;
     box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: white;
  
    
}
div#useralbumphotos div:hover{
    
    
    cursor: pointer;
   
 
}

div#useralbumphotos a{
    display: block;
}

div#useralbumphotos div img{
    width: 225px;
}